body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250, 175, 175);
}
.main-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 3px 3px 4px rgba(0, 0, 0, 0.2);
    background: url('../public/quiz_bg.png');
    background-size: cover;
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
